.click{
  cursor: pointer;
}

.font_small{
  font-size: 12px;
}

.font_middle{
  font-size: 14px;
}

.text_underline:hover{
  text-decoration: underline;
}

.thickly_font{
  font-weight: 600;
}

.dot-size{
  font-size: 1px;
}

.img_size{
  width: 100%;
  height: 100%;
}

.bg_size{
  background-size: 60px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.green_color{
  color: #19ce60;
}

.gray_color{
  color: #a0a0a0;
}

.red_color{
  color: #e9564a;
}

.blue_color{
  color: #2586ee;
}

.btn{
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0px 2px 2px 2px #dae1e6;
}

.them_btn{
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0px 2px 2px 2px #dae1e6;
}

.news_banner_btn{
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}

.them_left_btn{
 top: 50%;
 left: 0;
 transform: translate(-50%, -50%);
}

.them_right_btn{
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}