.click{
  cursor: pointer;
}

.text_underline:hover{
  text-decoration: underline;
}

.thickly-font{
  font-weight: 600;
}

.dot-size{
  font-size: 1px;
}

.img_size{
  width: 100%;
  height: 100%;
}

.green_color{
  color: #19ce60;
}

.gray_color{
  color: #a0a0a0;
}

.red_color{
  color: #e9564a;
}

.blue_color{
  color: #2586ee;
}