#wrap{
  min-width: 1190px;
}

#header{
  height: 200px;
  background-color: #fff;
}

#header_top{
  border-bottom: solid 2px #eee;
}

#header_top_flex{
  position: relative;
  width: 1100px;
  margin: 0 auto;
  height: 160px;
  /*background-color: blue;*/
}

#service_area{
  position: absolute;
  display: flex;
  width: 270px;
  height: 20px;
  /*background-color: red;*/
  font-size: 12px;
  line-height: 16px;
  top: 12px;
  right: 0;
}

.service_area_margin{
  margin: 0 7px;
}

.service_area_margin:first-child{
  margin-left: 0px;
}

.service_area_margin:last-child{
  margin: 0px;
}

.service_area_icon_place{
  height: 16px;
  width: 16px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0px 0px 2px #000;
}

#logo_area{
  position: absolute;
  height: 55px;
  width: 222px;
  /*background-color: yellow;*/
  top: 35%;
  left: 0;
}

#serach_area{
  box-sizing: border-box;
  position: absolute;
  display: flex;
  height: 55px;
  top: 35%;
  left: 250px;
  width: 530px;
  border: solid 5px #19ce60;
}

.serach_bar{
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  width: 420px;
  background-color: #fff;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 10px;
}

#keyboard_area{
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 25px;
  color: gray;
}

#last_search_area{
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 25px;
  color: #19ce60;
}

#serach_icon_area{
  background-color: #19ce60;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60px;
  color: #fff;
}

#header_bottom{
  height: 40px;
  border-bottom: solid 2px #eee;
}

#header_bottom_flex{
  position: relative;
  width: 1100px;
  margin: 0 auto;
  height: 40px;
}

#menus_area{
  box-sizing: border-box;
  width: 800px;
  height: 100%;
  /*background-color: red;*/
  padding: 11px 0;
  line-height: 16px;
}

#menus_area ul{
  display: flex;
}

#menus_area ul li{
  margin: 0 6px;
  font-size: 14px;
}

#menus_area ul li:first{
  margin-left: 0;
}

#menus_area ul li:last-child{
  font-size: 12px;
}

#weather_area{
  position: absolute;
  box-sizing: border-box;
  top: 0;
  right: 0;
  width: 270px;
  height: 100%;
  /*background-color: yellow;*/
}

.weather_alert{
  padding: 11px 0;
  position: absolute;
  right: 0;
  /*background-color: red;*/
  height: 40px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  font-size: 14px;
  justify-content: flex-end;
}

.weather_alert p{
  margin-left: 7px;
}

#container{
  border-bottom: solid 2px #eee;
}

#contents{
  width: 1100px;
  margin: 0 auto;
  height: 100px;
  /*background-color: red;*/
  display: flex;
  padding-top: 20px;
}

#contents_left{
  width: 750px;
  /*background-color: blue;*/
  height: 50px;
  box-sizing: border-box;
  padding-right: 30px;
}

#contents_right{
  width: 350px;
  background-color: yellow;
  height: 50px;
}

#news_header{
  position: relative;
  display: flex;
  background-color: #f7f9fa;
  border: 1px solid #dae1e6;
  line-height: 20px;
  padding: 12px 11px;
  font-size: 13px;
}

#issue_area{
  width: 420px;
  height: 20px;
  /*background-color: yellow;*/
}

#direct_area{
  text-align: right;
  position: absolute;
  right: 12px;
  width: 200px;
  height: 20px;
  /*background-color: red;*/
}

#direct_area span{
  margin-left: 5px;
}

#news_title{
  display: flex;
  margin-top: 15px;
  position: relative;
  line-height: 20px;
  font-size: 14px;
}

.news_title_left{
  align-items: center;
  display: flex;
  /*background-color: red;*/
  width: 400px;
  height: 20px;
}

.news_title_left p{
  margin-left: 5px;
}

.news_title_right{
  position: absolute;
  text-align: right;
  right: 0;
  width: 100px;
  height: 20px;
}

.news_title_right i{
  margin-left: 10px;
}