#wrap{
  min-width: 1190px;
}

#header{
  height: 200px;
  background-color: #fff;
}

#header_top{
  border-bottom: solid 2px #eee;
}

#header_top_flex{
  position: relative;
  width: 1100px;
  margin: 0 auto;
  height: 160px;
  /*background-color: blue;*/
}

#service_area{
  position: absolute;
  display: flex;
  width: 290px;
  height: 20px;
  /*background-color: red;*/
  font-size: 12px;
  line-height: 16px;
  top: 12px;
  right: 0;
}

.service_area_margin{
  margin: 0 7px;
}

.service_area_margin:first-child{
  margin-left: 0px;
}

.service_area_margin:last-child{
  margin: 0px;
}

.service_area_icon_place{
  height: 16px;
  width: 16px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0px 0px 2px #000;
}

.service_area_before::before{
  content: "";
  display: inline-block;
  width: 1px;
  height: 11px;
  background-color: #e4e8eb;
  vertical-align: -1px;
  margin-right: 5px;
}

.service_area_color_change:hover{
  color: #19ce60;
}

#logo_area{
  position: absolute;
  height: 55px;
  width: 222px;
  /*background-color: yellow;*/
  top: 35%;
  left: 0;
}

#serach_area{
  box-sizing: border-box;
  position: absolute;
  display: flex;
  height: 55px;
  top: 35%;
  left: 250px;
  width: 530px;
  border: solid 5px #19ce60;
}

.serach_bar{
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  width: 420px;
  background-color: #fff;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 10px;
}

#keyboard_area{
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 25px;
  color: gray;
}

#last_search_area{
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 25px;
  color: #19ce60;
}

#serach_icon_area{
  background-color: #19ce60;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60px;
  color: #fff;
}

#header_bottom{
  height: 40px;
  border-bottom: solid 2px #eee;
}

#header_bottom_flex{
  position: relative;
  width: 1100px;
  margin: 0 auto;
  height: 40px;
}

#menus_area{
  box-sizing: border-box;
  width: 800px;
  height: 100%;
  /*background-color: red;*/
  padding: 11px 0;
  line-height: 16px;
}

#menus_area ul{
  display: flex;
}

#menus_area ul li{
  margin: 0 6px;
  font-size: 14px;
}

#menus_area ul li:first{
  margin-left: 0;
}

#menus_area ul li:last-child{
  font-size: 12px;
}

#weather_area{
  position: absolute;
  box-sizing: border-box;
  top: 0;
  right: 0;
  width: 270px;
  height: 100%;
  /*background-color: yellow;*/
}

.weather_alert{
  padding: 11px 0;
  position: absolute;
  right: 0;
  /*background-color: red;*/
  height: 40px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  font-size: 14px;
  justify-content: flex-end;
}

.weather_alert p{
  margin-left: 7px;
}

.weather_alert:hover p:last-child{
  text-decoration: underline;
}

#container{
  border-bottom: solid 2px #eee;
}

#contents{
  width: 1100px;
  margin: 0 auto;
  /*background-color: red;*/
  display: flex;
  padding-top: 20px;
  padding-bottom: 30px;
}

#contents_left{
  width: 750px;
  /*background-color: blue;*/
  box-sizing: border-box;
  padding-right: 30px;
}

/*#contents_right{
  width: 350px;
  background-color: yellow;
  height: 50px;
}*/

#news_header{
  position: relative;
  display: flex;
  background-color: #f7f9fa;
  border: 1px solid #dae1e6;
  line-height: 20px;
  padding: 12px 11px;
  font-size: 13px;
}

#issue_area{
  width: 420px;
  height: 20px;
  /*background-color: yellow;*/
}

#direct_area{
  text-align: right;
  position: absolute;
  right: 12px;
  width: 200px;
  height: 20px;
  /*background-color: red;*/
}

#direct_area span{
  margin-left: 5px;
}

.direct_area_after::after{
  background-color: #c8ccd1;
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  content: '';
  margin-left: 8px;
  vertical-align: 3px;
}

#news_title{
  display: flex;
  margin-top: 15px;
  position: relative;
  line-height: 20px;
  font-size: 14px;
}

.news_title_left{
  align-items: center;
  display: flex;
  /*background-color: red;*/
  width: 400px;
  height: 20px;
}

.news_title_left p{
  margin-left: 5px;
}

.news_title_right{
  position: absolute;
  text-align: right;
  right: 0;
  width: 100px;
  height: 20px;
}

.news_title_right i{
  margin-left: 10px;
}

/*#news_banner_area{
  margin-top: 10px;
  width: 100%;
  height: 240px;
}

#news_banner_area tr td{
  border: solid 1px #dae1e6;
  width: 120px;
  height: 60px;
}

#news_banner_area tr td:hover .news_banner_hover_bg{
  display: block;
}

.news_banner_hover_bg{
  width: 100%;
  height: 100%;
  background-color: #f7f9fa;
  display: flex;
  font-size: 12px;
  position: relative;
  display: none;
}

.news_banner_hover_bg p:first-child{
  padding: 5px;
  height: 20px;
  background-color: #fff;
  border: solid 1px #dae1e6;
  line-height: 16px;
  position: absolute;
  left: 12px;
  top: 15px;
}

.news_banner_hover_bg p:last-child{
  padding: 5px;
  height: 20px;
  background-color: #fff;
  border-top: solid 1px #dae1e6;
  border-right: solid 1px #dae1e6;
  border-bottom: solid 1px #dae1e6;
  line-height: 16px;
  position: absolute;
  left: 48px;
  top: 15px;
}

#news_banner_area tr .next_btn{
  display: block;
  border: none;
  border-right: solid 1px #dae1e6;
  position: relative;
}*/

#news_banner_area{
  margin-top: 10px;
  width: 720px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #dae1e6;
  position: relative;
}

.news_banner{
  width: 120px;
  height: 60px;
  /*background-color: yellow;*/
  box-sizing: border-box;
  border: 1px solid #dae1e6;
}

.news_banner:hover .news_banner_hover_bg{
  display: block;
}

.news_banner_hover_bg{
  width: 100%;
  height: 100%;
  background-color: #f7f9fa;
  display: flex;
  font-size: 12px;
  position: relative;
  display: none;
}

.news_banner_hover_bg p:first-child{
  padding: 5px;
  height: 20px;
  background-color: #fff;
  border: solid 1px #dae1e6;
  line-height: 16px;
  position: absolute;
  left: 12px;
  top: 15px;
}

.news_banner_hover_bg p:last-child{
  padding: 5px;
  height: 20px;
  background-color: #fff;
  border-top: solid 1px #dae1e6;
  border-right: solid 1px #dae1e6;
  border-bottom: solid 1px #dae1e6;
  line-height: 16px;
  position: absolute;
  left: 48px;
  top: 15px;
}

#theme_head{
  margin-top: 25px;
  height: 25px;
  /*background-color: red;*/
  line-height: 25px;
  position: relative;
  display: flex;
}

.theme_head_right{
  position: absolute;
  right: 0;
}

.theme_head_right .after::after{
  padding-left: 5px;
  content: "|";
  color: #a0a0a0;
  width: 1px;
}

.theme_head_right span:nth-child(3):hover span:last-child{
  text-decoration: underline;
}

.theme_head_right i:hover{
  color: gray;
}

#theme_category_wrap{
  margin-top: 10px;
  height: 49px;
  /*background-color: red;*/
  display: flex;
  box-sizing: border-box;
  border: 1px solid #dae1e6;
  position: relative;
}

.main_theme{
  width: 90px;
  height: 49px;
  box-sizing: border-box;
  border-right: 1px solid #dae1e6;
  line-height: 49px;
  text-align: center;
  font-size: 13px;
}

.main_theme:last-child{
  border-right: none;
}

.select_theme{
  background-color: #19ce60;
  color: #fff;
}

.hover_color:hover{
  color: #19ce60;
}

#theme_container{
  margin-top: 20px;
}

#group_topstory{
  height: 333px;
  display: flex;
  /*background-color: red;*/
}

.topstory_view{
  width: 364px;
  height: 280px;
  /*background-color: yellow;*/
  padding-right: 12px;
  box-sizing: border-box;
}

.topstory_view:hover .topstory_view_img{
  transform: scale(1.1);
}

.topstory_inner{
  width: 364px;
  height: 322px;
  /*background-color: green;*/
  padding-left: 12px;
  box-sizing: border-box;
}

.topstory_view_img_area{
  width: 100%;
  height: 180px;
  overflow: hidden;
  margin-bottom: 15px;
}

.topstory_view_img_area img{
  transition: all 0.2s linear;
}

.topstory_view_img_area:hover img{
  transform: scale(1.1);
}

.topstory_view p{
  margin-top: 7px;
}

.topstory_view_text:hover p:nth-child(2){
  text-decoration: underline;
}

.theme_item{
  display: flex;
  margin-bottom: 12px;
}

.theme_item_img_area{
  width: 98px;
  height: 98px;
  overflow: hidden;
}

.theme_item_img_area img{
  transition: all 0.2s linear;
}

.theme_item:hover .theme_item_img_area img{
  transform: scale(1.1);
}

.theme_item:hover .theme_item_text:hover p:nth-child(2){
  text-decoration: underline;
}

.theme_item_text{
  padding-top: 12px;
  padding-left: 15px;
  width: 218px;
}

.theme_item_text p{
  margin-bottom: 5px;
  line-height: 16px;
}

#theme_link{
  padding: 11px 18px;
  background-color: #f7f9fa;
  border: 1px solid #dae1e6;
  display: flex;
}

.theme_link_home::after{
  padding-left: 10px;
  content: "|";
  color: #a0a0a0;
  width: 1px;
}

.list_service{
  display: flex;
}

.list_service li{
  padding: 0 12px;
}

#theme_title{
  margin-top: 20px;
  display: flex;
}

#theme_title p{
  height: 25px;
  line-height: 25px;
}

#theme_title p::after{
  padding-left: 5px;
  content: "|";
  color: #a0a0a0;
  width: 1px;
}

.title_sub_tab{
  display: flex;
  position: relative;
}

.title_sub_tab li{
  display: inline-block;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
}

.title_sub_tab li:first-child{
  margin-left: 15px;
}

.title_sub_tab .tab_after::after{
  width: 3px;
  height: 3px;
  background-color: #d7dce0;
  border-radius: 50%;
  display: inline-block;
  content: '';
  position: absolute;
}

.title_sub_tab .tab_after:nth-child(2):after{
  left: 184px;
  top: 12px;
}

.title_sub_tab .tab_after:nth-child(3):after{
  left: 279px;
  top: 12px;
}

.tab_on{
  background-color: #66d171;
  border-radius: 13px;
}

#chart_view_wrap{
  display: flex;
  margin-top: 15px;
  width: 720px;
  height: 410px;
  /*background-color: red;*/
  border-bottom: 1px solid #dae1e6;
}

.chart_view{
  width: 340px;
}

.chart_view:last-child{
  margin-left: 40px;
}

.chart_area{
  height: 78px;
  /*background-color: yellow;*/
  padding: 14px 0;
  box-sizing: border-box;
  display: flex;
  border-bottom: 1px solid #dae1e6;
}

.chart_area:last-child{
  border: none;
}

.chart_area .chart_info:hover .chart_view_info .chart_view_title{
  text-decoration: underline;
}

.chart_rank{
  width: 50px;
  height: 50px;
  text-align: center;
}

.chart_info{
  display: flex;
  width: 255px;
  box-sizing: border-box;
}

.chart_info:hover .chart_view_img img{
  transform: scale(1.1);
}

.chart_view_img{
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.chart_view_img img{
  transition: all 0.2s linear;
}

.chart_view_info{
  padding-left: 15px;
}

.chart_view_title{
  margin-top: 6px;
}

.chart_view_dsc{
  margin-top: 6px;
}

#media_view_wrap{
  margin-top: 18px;
  /*background-color: red;*/
  height: 630px;
  width: 720px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #dae1e6;
}

#media_view_wrap .media_area:nth-child(3){
  margin-right: 0px;
}

#media_view_wrap .media_area:nth-child(6){
  margin-right: 0px;
}

#media_view_wrap .media_area:nth-child(9){
  margin-right: 0px;
}

#media_view_wrap .media_area:nth-child(7){
  margin-bottom: 0px;
}

#media_view_wrap .media_area:nth-child(8){
  margin-bottom: 0px;
}

#media_view_wrap .media_area:nth-child(9){
  margin-bottom: 0px;
}

.media_area{
  margin: 0 21px 31px 0;
  width: 224px;
  height: 185px;
  /*background-color: yellow;*/
}

.media_area:hover .media_info p{
  text-decoration: underline;
}

.media_info p{
  margin-bottom: 3px;
}

.media_info span:last-child::before{
  background-color: grey;
  display: inline-block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  vertical-align: middle;
  content: '';
  margin-right: 5px;
}

.media_img{
  width: 230px;
  height: 130px;
  /*background-color: greenyellow;*/
  overflow: hidden;
  margin-bottom: 10px;
}

.media_img img{
  transition: all 0.2s linear;
}

.media_area:hover .media_img img{
  transform: scale(1.1);
}

#group_theme{
  width: 720px;
  border-bottom: 1px solid #dae1e6; 
}

#group_theme:last-child{
  border-bottom: none;
}

#poster_view{
  padding: 17px 0 29px;
  display: flex;
  position: relative;
}

#poster_area{
  width: 120px;
  box-sizing: border-box;
  margin-left: 30px;
}

#poster_view #poster_area:nth-child(1){
  margin-left: 0px;
}

/*#poster_view #poster_area:nth-child(3){
  margin-left: 30px;
}

#poster_view #poster_area:nth-child(4){
  margin-left: 30px;
}

#poster_view #poster_area:nth-child(5){
  margin-left: 30px;
}

#poster_view #poster_area:nth-child(6){
  margin-left: 30px;
}*/

#poster_area .poster_thumb img{
  transition: all 0.2s linear;
}

#poster_area:hover .poster_thumb img{
  transform: scale(1.1);
}

#poster_area:hover .poster_info p:first-child{
  text-decoration: underline;
}

.poster_info{
  margin-top: 15px;
}

.poster_info p{
  margin-bottom: 3px;
  line-height: 16px;
}

.poster_info .poster_after::after{
  background-color: grey;
  display: inline-block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  vertical-align: middle;
  content: '';
  margin-left: 5px;
}

#contents_right{
  width: 350px;
  /*background-color: yellow;*/
  /*height: 50px;*/
}

#login_area{
  padding: 15px;
  background-color: #f7f9fa;
  border: 1px solid #dae1e6;
}

#login_area .login_btn span:first-child{
  font-size: 16px;
}

.login_btn{
  background-color: #19ce60;
  border: 1px solid #15c654;
  padding: 15px 0;
  margin-top: 11px;
  border-radius: 2px;
  text-align: center;
}

#login_sub_area{
  margin-top: 11px;
  position: relative;
  display: flex;
}

.find_area_after::after{
  background-color: grey;
  display: inline-block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  vertical-align: middle;
  content: '';
  margin-left: 5px;
  margin-right: 2px;
}

#join_area{
  position: absolute;
  right: 0;
}

#news_card_area{
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #dae1e6;
  display: flex;
  line-height: 16px;
  position: relative;
}

.news_card_left{
  display: flex;
}

.news_card_left:hover span{
  text-decoration: underline;
}

.news_issue{
  width: 30px;
  font-size: 10px;
  height: 16px;
  border: solid 1px #000;
  border-radius: 20px;
  text-align: center;
  margin-right: 5px;
}

.news_card_right{
  position: absolute;
  right: 15px;
  display: flex;
}

#footer{
  background-color: #fafbfc;
  padding: 40px 0 60px;
}

.footer_inner{
  width: 1100px;
  margin: 0 auto;
}

.footer_inner .notice_area p:hover span:first-child{
  text-decoration: underline;
}

.notice_area{
  display: flex;
  position: relative;
  border-top: 1px solid #e4e8eb;
  padding: 20px 0;
}

.notice_area p{
  position: absolute;
  right: 0;
}

.aside_area{
  border-top: 1px solid #e4e8eb;
  display: flex;
}

.partner_box_wrap{
  width: 780px;
}

.partner_box{
  display: flex;
  padding: 5px 0;
}

.partner_box:first-child{
  margin-top: 16px;
}

.partner_title{
  width: 87px;
}

.footer_after::after{
  content: "";
  display: inline-block;
  width: 1px;
  height: 11px;
  background-color: #e4e8eb;
  vertical-align: -1px;
  margin: 0 8px;
}

#service_box_wrap{
  display: flex;
}

.service_box{
  padding: 28px 0;
  display: flex;
}

.service_box:first-child{
  margin-right: 45px;
}

.service_info{
  line-height: 18px;
  margin-right: 10px;
}

#corp_area{
  border-top: 1px solid #e4e8eb;
  padding: 25px 0 0;
}