.click{
  cursor: pointer;
}

.img-size{
  width: 100%;
  height: 100%;
}

#wrap{
  min-width: 1190px;
}

#header{
  height: 200px;
  background-color: #fff;
}

.header-top{
  border-bottom: solid 2px #eee;
}

.header-top-flex{
  position: relative;
  width: 1100px;
  margin: 0 auto;
  height: 160px;
  /*background-color: blue;*/
}

.service-area{
  position: absolute;
  display: flex;
  width: 275px;
  /*background-color: red;*/
  font-size: 12px;
  line-height: 16px;
  top: 12px;
  right: 0;
}

.service-area-margin{
  margin: 0 7px;
}

.service-area-margin:first-child{
  margin-left: 0px;
}

.service-area-margin:last-child{
  margin: 0px;
}

.service-area-icon-place{
  height: 16px;
  width: 16px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0px 0px 2px #000;
}

.logo-area{
  position: absolute;
  height: 55px;
  width: 222px;
  /*background-color: yellow;*/
  top: 35%;
  left: 0;
}

.serach-area{
  box-sizing: border-box;
  position: absolute;
  display: flex;
  height: 55px;
  top: 35%;
  left: 250px;
  width: 530px;
  border: solid 5px #19ce60;
}

.serach-bar{
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  width: 420px;
  background-color: #fff;
  border: none;
  outline: none;
}

.keyboard-area{
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 25px;
  color: gray;
}

.last-search-area{
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 25px;
  color: #19ce60;
}

.serach-icon-area{
  background-color: #19ce60;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60px;
  color: #fff;
}

.header-bottom{
  height: 40px;
  border-bottom: solid 2px #eee;
}

.header-bottom-flex{
  position: relative;
  width: 1100px;
  margin: 0 auto;
  height: 40px;
}

.menus-area{
  box-sizing: border-box;
  width: 800px;
  height: 100%;
  background-color: red;
  padding: 11px 0;
}

.menus-area ul{
  display: flex;
}

.weather-area{
  position: absolute;
  box-sizing: border-box;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: yellow;
  padding: 5px 0;
}

